:root {

    --base-font-size: 16px;

    --title-font: 'Archivo Black', sans-serif;
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --bg-color: #F5F7F8;
    --primary-font-color: #333;
    --secondary-font-color: #000;
    --light-font-color: #888;

    --color-danger: #F00;
    --color-primary: #036;
    --color-white: #FFF;
    --color-light-grey: #d4d1d1;
    --color-info: #FFF6E3;
    --color-warning-light: #fff6c4;
    --color-warning-dark: #86792a;

    --box-shadow: 1px 1px 20px rgba(0,0,0,.15);
}